@using Oceanic.Models
@model SearchViewModel
@{
    ViewBag.Title = "Search";
}
<div class="jumbotron">
    <h1 style="text-align: center">Search for itinerary</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <section id="searchForm">
            @using (Html.BeginForm("SearchResult", "Search", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="row">
                    <div class="col-md-4">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Height, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Height, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Width, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Width, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Width, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Depth, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Depth, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Depth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Weight, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <p>Departure.</p>
                            @Html.DropDownListFor(model => model.StartLocationId, new SelectList(Model.Locations, "Id", "Name"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <p>Destination.</p>
                            @Html.DropDownListFor(model => model.EndLocationId, new SelectList(Model.Locations, "Id", "Name"), new
                            {
                                @class = "form-control"
                            })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p>Itinerary type</p>
                    </div>
                    <div class="col-md-2">
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.ItineraryType, ItineraryType.Cheapest)Cheapest
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.ItineraryType, ItineraryType.Fastest)Fastest
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.ItineraryType, ItineraryType.Optimal)Optimal
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-11" style="text-align: right">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

        </section>
    </div>
</div>